{% block header %}
    <header id="mainAdminHeader">
        <nav>
            <ul>
                <li><a href="{{ BASEURL}}" style="color: orange;">T</a></li>
                <li><a href="{{ BASEURL }}admin/scooters">Scooters</a></li>
                <li><a href="{{ BASEURL }}admin/users">Users</a></li>
                <li><a href="{{ BASEURL }}admin/settings">Settings</a></li>
            </ul>
        </nav>
    </header>
{% endblock header %}