{% extends "templates/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}login.css">
{% endblock stylesheets %}

{% block header %}{% endblock header %}
{% block footer %}{% endblock footer %}

{% block content %}
    <main>
        main
    </main>
{% endblock content %}