/*********************
        HERO
**********************/
#hero {
    min-height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

#hero > div:first-child, #hero > div:nth-child(2) {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#hero > div:first-child > h1 {
    width: 80%;
    align-self: flex-end;
    align-self: flex-end;
    font-size: 8rem;
}


/*********************
    block-description
**********************/

#block-description {
    height: 100vh;
    background-color: #222831;
    display: flex;
    flex-flow: row nowrap;
}

#block-description > div {
    width: 50%;
    height: 100%;
}

#block-description > div:first-child {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#block-description > div:first-child > h2 {
    width: 80%;
    font-size: 3em;
}

#block-description > div:first-child > p {
    width: 80%;
    margin : 15px 0;
    font-size: 1.6em;
    vertical-align: 16px;
    text-align: justify;
}

#block-description > div.bg-img > img {
    max-width: 100%;
    height: 100%;
}

#block-description a {
    width: 400px;
    margin: 16px auto;
    padding: 8px;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: orange;
    color: white;
}


/*********************
    block-visit-shop
**********************/

#block-visit-shop {
    height: 80vh;
    background-color: #F1F1F1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

#block-visit-shop > h2 {
    font-size: 4em;
}

#block-visit-shop > div.container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: space-evenly;
}

#block-visit-shop > div.container > div {
    width: 24%;
    aspect-ratio: 1/1;
    border: 1px solid #B7B7B7;
    background-color: white;
}

#block-visit-shop > a {
    padding: 10px;
    margin-right: 150px;
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    border-radius: 4px;
    background-color: #FD7014;
    display: inline-block;
    align-self: flex-end;
}



/*********************
    block-article-one
**********************/

#block-article-one {
    min-height: 40vh;
    border-bottom: 25px solid #FD7014;
    background-color: #FFD7BE;
    display: flex;
    flex-flow: row nowrap;
}

#block-article-one > div {
    width: 50%;
    height: 100%;
}

#block-article-one > div:last-child {
    color: #222831;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#block-article-one > div:last-child > h2 {
    width: 80%;
    font-size: 3em;
}

#block-article-one > div:last-child > p {
    width: 80%;
    margin : 15px 0;
    font-size: 1.6em;
    vertical-align: 16px;
    text-align: justify;
}

#block-article-one > div.bg-img > img {
    width: 100%;
    height: 100%;
}

#block-article-one a {
    width: 400px;
    margin: 16px auto;
    padding: 8px;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: orange;
    color: white;
}

