div.input-box {
    margin: 15px 0;
    display: flex;
    flex-flow: column nowrap;
}

div.input-box > input {
    max-width: 500px;
    padding: 3px;
    font-size: 1rem;
}

div.input-box > p:last-child {
    color: rgb(189, 44, 44);
}