
body {
    padding-bottom: 25vh;
}

/*********************
        HEADER
**********************/
#mainHeader {
    padding: 10px 50px;
    background-color: #222831;
    box-shadow: 0 0 0.5rem #62707f;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#mainHeader > h1 > a {
    color: white;
    font-size: 2.6rem;
    text-decoration: none;
}

#mainHeader > nav {
    position: relative;
}

#mainHeader > nav > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
}

#mainHeader > nav > ul > li {
    margin: 0 16px;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

#mainHeader > nav > ul > li > a {
    text-decoration: none;
    color: white;
}


/*********************
    HEADER CART
**********************/
#mainHeader > div#cart {
    padding: 8px;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 300px;
    background-color: #ffffff;
    max-height: 400px;
    transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, border 0.2s ease-in-out;
    overflow: hidden;
    z-index: 4;
    border: 1px solid #828282;
}

#mainHeader > div#cart > h3 {
    font-size: 1.3rem;
    margin-bottom: 8px;
    font-weight: 700;
}

#mainHeader > div#cart div.product {
    padding: 8px 0;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #e1e1e1;
}

#mainHeader > div#cart div.product:last-child {
    border-bottom: none;
}

#mainHeader > div#cart div.product > div:nth-child(1) {
    flex: 2;
}

#mainHeader > div#cart div.product > div:nth-child(2) {
    text-align: center;
    flex: 1;
}

#mainHeader > div#cart div.product > div:nth-child(3) {
    flex: 1;
}

#mainHeader > div#cart > div:last-child > a  {
    padding: 8px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(32, 32, 32);
    display: block;
}


#mainHeader > div#cart.hide {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    border: 0px solid #82828200;
}

/*********************
        FOOTER
**********************/
#mainFooter {
    padding: 15px;
    min-height: 20vh;
    color: white;
    background-color: #222831;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
