{% set navActive = "addresses" %}

{% extends "templates/user.html.twig" %}

{% block content %}
    <section id="display">
    
       {{ include('includes/boxMessages.html.twig') }}

        <div class="header">
            <h1><i class="fa-solid fa-house fa-lg fa-fade" style="--fa-fade-opacity: 0.8;"></i> Mon carnet d'adresses</h1>
            <p>Liste de vos adresses.</p>
        </div>

    </section>
{% endblock content %}