{% set navActive = "change-password" %}

{% extends "templates/user.html.twig" %}

{% block content %}
    <section id="display">
    
        {{ include('includes/boxMessages.html.twig') }}

        <div class="header">
            <h1><i class="fa-solid fa-lock fa-lg fa-fade" style="--fa-fade-opacity: 0.8;"></i> Changer de mot de passe</h1>
            <p>Vous avez la possibilité de modifier votre mot de passe.</p>
        </div>

        <div class="container-change-password-form">
            <form action="{{ HERE }}" method="post">
                <div class="input-txt-box">
                    <label>
                        <span>Ancien mot de passe :</span>
                        <div>
                            <input type="text" name="oldPassword">
                        </div>
                    </label>
                </div>
                <div class="input-txt-box">
                    <label>
                        <span>Nouveau mot de passe :</span>
                        <div>
                            <input type="text" name="password">
                        </div>
                    </label>
                </div>
                <div class="input-txt-box">
                    <label>
                        <span>Confirmer votre nouveau mot de passe :</span>
                        <div>
                            <input type="text" name="confirmPassword">
                        </div>
                    </label>
                </div>
                <div class="btn-submit-box">
                    <button type="submit">Sauvegarder</button>
                </div>                
            </form>
        </div>

    </section>
{% endblock content %}