{% set navActive = "orders" %}

{% extends "templates/user.html.twig" %}

{% block content %}
    <section id="display">
    
        {{ include('includes/boxMessages.html.twig') }}

        <div class="header">
            <h1><i class="fa-solid fa-bag-shopping fa-lg fa-fade" style="--fa-fade-opacity: 0.8;"></i> {{ "Mes commandes"|trans }}</h1>
            <p>{{ "Liste de vos commandes"|trans }}.</p>
        </div>

    </section>
{% endblock content %}