{% set navActive = "payment-methods" %}

{% extends "templates/user.html.twig" %}

{% block content %}
    <section id="display">
    
        {{ include('includes/boxMessages.html.twig') }}

        <div class="header">
            <h1><i class="fa-solid fa-credit-card fa-lg fa-fade" style="--fa-fade-opacity: 0.8;"></i> Mon Abonnement</h1>
            <p>Gérer votre abonnement.</p>
        </div>

    </section>
{% endblock content %}