{% set navActive = "payment-methods" %}

{% extends "templates/user.html.twig" %}

{% block content %}
    <section id="display">
    
        {{ include('includes/boxMessages.html.twig') }}

        <div class="header">
            <h1><i class="fa-solid fa-credit-card fa-lg fa-fade" style="--fa-fade-opacity: 0.8;"></i> Mes modes de paiement</h1>
            <p>Liste de vos modes de paiement.</p>
        </div>

    </section>
{% endblock content %}