{% set navActive = "rides" %}

{% extends "templates/user.html.twig" %}

{% block content %}
    <section id="display">
    
        {% if msgBoxes is defined %}
            {% for msgBox in msgBoxes %}
                <div class="msgBox {{ msgBox.status }}">
                    <h3>{{ msgBox.status }}</h3>
                    <p>{{ msgBox.description }}</p>
                    <button><i class="fa-solid fa-xmark"></i></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="header">
            <h1><i class="fa-solid fa-route fa-lg fa-fade" style="--fa-fade-opacity: 0.8;"></i> Mes trajets</h1>
            <p>Liste de vos trajets.</p>
        </div>

    </section>
{% endblock content %}