{% set navActive = "returns" %}

{% extends "templates/user.html.twig" %}

{% block content %}
    <section id="display">
            <h1>un lien d'activation vient d'etre envoyé sur votre boite mail</h1>
    </section>
{% endblock content %}