<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title ?: "Turbo"}}{% endblock %}</title>
    {% block stylesheets %}{% endblock %} 
    <link rel="stylesheet" href="{{ STYLESHEETS }}global.css">
    {% block javascripts %}{% endblock %} 
</head>
<body>

    {% block body %}

        {% embed "Includes/header.html.twig" %}{% endembed %}

        {% block content %}{% endblock content %}    
    
        {% embed "Includes/footer.html.twig" %}{% endembed %}

    {% endblock body %}   

</body>
</html>