{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}home.css">
{% endblock stylesheets %}

{% block content %}

<main>
    <section id="hero">
        <div>
            <h1>Ride everywhere <br /><span style="font-size: 2rem;">with <span style="color: #FD7014; text-transform: uppercase;">TURBO</span> efficiency</span></h1>
        </div>
        <div>
            <img src="{{ UPLOADS }}/Images/young-man-riding-electric-scooter-isolated-flat-vector-illustration-cartoon-hipster-riding-along-sidewalk-in-city-park/8728.jpg" alt="young-man-riding-electric-scooter">
        </div>
    </section>
</main>

{% endblock content %}