body {
    background-color: #EFF1F3;
}

/*********************
    SHIPPMENT
**********************/

#main-shippment {
    padding-top: 32px;
}


/* NAV */
#main-shippment > #nav {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 24px;
}

#main-shippment > #nav > ul::before {
    content: '';
    background-color: white ;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    transform: translateY(-50%);
}

#main-shippment > #nav > ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#main-shippment > #nav > ul > li {
    width: 50px;
    height: 50px;
    color: white;
    letter-spacing: 1.2px;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
}

#main-shippment > #nav > ul > li.active {
    background-color: orange;
}

#main-shippment > #nav > ul > li.active > span {
    color: orange;
    font-weight: 700;
}

#main-shippment > #nav > ul > li > span {
    position: absolute;
    top: 105%;
    left: 50%;
    color: #687787;
    transform: translateX(-50%);
}


/*********************
    CONTENT
**********************/
.displayNone { 
    display: none;
}

#main-shippment {
    max-width: 80%;
    margin: 0 auto;
}

#main-shippment > h1 {
    margin: 32px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#section-box-shippment > form > div.container-address {
    margin-bottom: 16px;
    cursor: pointer;
    background-color: white;
}

#section-box-shippment > form > div.container-address > label {
    cursor: pointer;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#section-box-shippment > form > div.container-address > label > * { 
    padding: 0 8px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-box-shippment > form > div.container-address > label > *:nth-child(1) {
    width: 10%;
}

#section-box-shippment > form > div.container-address > label > *:nth-child(1) input {
    transform: scale(1.5);
}

#section-box-shippment > form > div.container-address > label > *:nth-child(5) {
    width: 30%;
}




/* 
#container-addresses {
    margin: 16px 0;
    padding: 32px 32px 32px 32px;
    background-color: #FFFFFF; 
}

#container-addresses > .container-address {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#container-addresses > .container-address:not(:first-child) {
    margin-top: 32px;
}

#container-addresses > .container-address > div:last-child {
    display: flex;
}

#container-addresses > .container-address > div:last-child input {
    margin: 0 4px;
    cursor: pointer;
}

#container-addresses > .container-address:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgb(222, 222, 222);
} */

#container-add-address {
    margin: 16px 0;
    padding: 32px 32px 32px 32px;
    background-color: #FFFFFF; 
}

#container-add-address > button {
    width: 100%;
    background: inherit;
    border: inherit;
    cursor: pointer;
}